.fontClock{
font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
color: red;
/* background-color: black; */
/* max-width: 700px; */
display: inline-block;
padding: 30px;
padding-bottom: 0;
border-radius: 10px ;
margin: 0;
}
.divClock{
border: 1px solid red;    
border-radius: 10px;
background-color: black;
min-width: 200px;
max-width: 320px;

}
.pClock{
color: white;
margin: 0;
display: flex;
justify-content: space-around;
min-width: 320px;
padding-bottom: 10px;
}
